/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
width: 960px;
margin-left: auto;
margin-right: auto;
font-size: 20px;
line-height: 30px;
font-family: Arial Narrow;
}
h1 {
font-size: 220%;
}
h2 {
font-size: 200%;
}
h3 {
font-size: 180%;
}
h4 {
font-size: 160%;
}
h5 {
font-size: 140%;
}
h6 {
font-size: 120%;
}
#content {
width: 898px;
padding-left: 31px;
padding-right: 31px;
text-align: justify;
float: left;
}
/*#menu {
background-color: black;
height: 56px;
line-height: 56px;
}
#menu a {
color: #F5F5F0;
text-decoration: none;
}
#menu ul {
margin-left: 355px;
margin-top: 0px;
text-align: center;
}
#menu li {
margin: 0px;
display: inline;
}*/
#sidebar {
float: right;

}
#footer {
clear: both;
background-color: black;
}
#article_heading {
height: 86px;
line-height: 86px;
}
#article_photo img {
height: 338px;
width: 338px;
float: right;
padding: 9px;
margin: 10px;
}
p {
margin: 0px;
}
#article_heading h1 {
margin: 0px;
}
#logo {
width: 170px;
height: 86px;
}


/*Contact Page*/

#register-form {
background: url("form-fieldset.gif") repeat-x scroll left bottom #F8FDEF;
border: 1px solid #DFDCDC;
border-radius: 15px 15px 15px 15px;
display: inline-block;
margin-bottom: 30px;
margin-left: 20px;
margin-top: 10px;
padding: 25px 50px 10px;
width: 350px;
}
#register-form .fieldgroup {
background: url("form-divider.gif") repeat-x scroll left top transparent;
display: inline-block;
padding: 8px 10px;
width: 340px;
}
#register-form .fieldgroup label {
float: left;
padding: 15px 0 0;
text-align: right;
width: 110px;
}
#register-form .fieldgroup input, #register-form .fieldgroup textarea, #register-form .fieldgroup select {
float: right;
margin: 10px 0;
height: 25px;
}
#register-form .submit {
padding: 10px;
width: 220px;
height: 40px !important;
}
#register-form .fieldgroup label.error {
color: #FB3A3A;
display: inline-block;
margin: 4px 0 5px 125px;
padding: 0;
text-align: left;
width: 220px;
}

/*nav menu*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#menu {
  background: #000000;
    width: auto;
    }
    #menu ul {
      list-style: none;
        margin: 0;
	  padding: 0;
	    line-height: 1;
	      display: block;
	        zoom: 1;
		}
		#menu ul:after {
		  content: " ";
		    display: block;
		      font-size: 0;
		        height: 0;
			  clear: both;
			    visibility: hidden;
			    }
			    #menu ul li {
			      display: inline-block;
			        padding: 0;
				  margin: 0;
				  }
				  #menu.align-right ul li {
				    float: right;
				    }
				    #menu.align-center ul {
				      text-align: center;
				      }
				      #menu ul li a {
				        color: #ffffff;
					  text-decoration: none;
					    display: block;
					      padding: 15px 25px;
					        font-family: 'Open Sans', sans-serif;
						  font-weight: 700;
						    text-transform: uppercase;
						      font-size: 14px;
						        position: relative;
							  -webkit-transition: color .25s;
							    -moz-transition: color .25s;
							      -ms-transition: color .25s;
							        -o-transition: color .25s;
								  transition: color .25s;
								  }
								  #menu ul li a:hover {
								    color: #333333;
								    }
								    #menu ul li a:hover:before {
								      width: 100%;
								      }
								      #menu ul li a:after {
								        content: "";
									  display: block;
									    position: absolute;
									      right: -3px;
									        top: 19px;
										  height: 6px;
										    width: 6px;
										      background: #ffffff;
										        opacity: .5;
											}
											#menu ul li a:before {
											  content: "";
											    display: block;
											      position: absolute;
											        left: 0;
												  bottom: 0;
												    height: 3px;
												      width: 0;
												        background: #333333;
													  -webkit-transition: width .25s;
													    -moz-transition: width .25s;
													      -ms-transition: width .25s;
													        -o-transition: width .25s;
														  transition: width .25s;
														  }
														  #menu ul li.last > a:after,
														  #menu ul li:last-child > a:after {
														    display: none;
														    }
														    #menu ul li.active a {
														      color: #333333;
														      }
														      #menu ul li.active a:before {
														        width: 100%;
															}
															#menu.align-right li.last > a:after,
															#menu.align-right li:last-child > a:after {
															  display: block;
															  }
															  #menu.align-right li:first-child a:after {
															    display: none;
															    }
															    @media screen and (max-width: 768px) {
															      #menu ul li {
															          float: none;
																      display: block;
																        }
																	  #menu ul li a {
																	      width: 100%;
																	          -moz-box-sizing: border-box;
																		      -webkit-box-sizing: border-box;
																		          box-sizing: border-box;
																			      border-bottom: 1px solid #fb998c;
																			        }
																				  #menu ul li.last > a,
																				    #menu ul li:last-child > a {
																				        border: 0;
																					  }
																					    #menu ul li a:after {
																					        display: none;
																						  }
																						    #menu ul li a:before {
																						        display: none;
																							  }
																							  }










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
